.filter-label {
    font-weight: bold;
    margin-right: 20px;
    font-size: 18px;
  }
  
  .filter-input {
    width: 200px;
    margin-right: 10px;
  }
  
  .filter-button {
    margin-top: 8px;
  }
  .custom-heading {
    font-size: 24px; 
    font-weight: bold; 
    color: #008080; 
  }
  
  .text {
    font-size: 20px; 
  }
  